div ul{
    list-style-type:none;
}
div ul li{
    background-color:purple;
    width:200px;
    border:2px solid skyblue;
    height:50px;
    line-height:50px;
    text-align: center;
    float:left;
}
div ul li:hover{
    background-color:red;
}
div ul li ul {
    display:none;
}
div ul li:hover ul{
    display:block;
    padding:0%;
}